.general html{
    box-sizing: border-box;
    
}
*, *:before, *:after{
    box-sizing: inherit;
}
*{
    margin: 0px;
    padding: 0px;
}
.margen-interno{
    padding:0px 0px;
}
a{
    text-decoration:none;


}

.header{
    background:url(../irudiak/index0/fondo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    padding: 5px 10px;
    
    

}

    .menu{
        background-color:rgba(0, 0, 0, 0.2);
                display: flex;
                flex-direction: row;
                height: 120px;
                flex-wrap: nowrap;
                align-items: center;
                border: 4px solid rgba(255, 255, 255, 0.6);
                margin:20px;
                padding:0px 10px;
                border-radius:50px;
                
    }
        .logo img{
    max-width: 100px;
    max-height:100px;
    display: block;
        }  
h1{font-size: 60px;}
h2{margin:10px;}
.section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    
}
.bloque1{
    grid-row:1/2;
    grid-column:1/4;
    text-align: center;
}
.bloque2{
    margin-top:20px ;
    display: grid;
    grid-row:2/2;
    grid-column:1/4;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    
}
.texto1{
    grid-column:2/3 ;
    grid-row: 1/2;
    
    padding-left: 10px;
    padding-top: 10px;
    

}
.texto1 p{
    padding-top:10px;
    padding-right:10px;
    
}
.invierno{
   
    height:500px;
    grid-column:1/2 ;
    grid-row: 1/2;
    padding: 20px 20px 20px 70px;
}

.invierno img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 500px;
    
    
}
.texto2{
    grid-column:1/2 ;
    grid-row: 2/3;
    padding-left: 10px;
    padding-top: 10px;

}
.texto2 p{
    padding-top:10px;
    
}
.verano{
    
    height:500px;
     grid-column:2/3 ;
    grid-row: 2/3;
    padding: 0px 20px 20px 90px;
}
.verano img{
    object-fit: cover;
    height: 500px;
    width: 500px;
    border-radius: 500px;
}
    .nav a{
        text-decoration:none;
        font-size:x-large;
        color:white;
        margin-right:20px;
    }
    .nav a:hover{ 
                    color:rgb(0, 0, 0);
                }
    .social{
           
            flex:1 1 auto;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            
    }
    .social a{
                    color:#faf7f7;
                    font-size: 18px;
                    padding: 0px 5px;
                   
                }
                .social a:hover{ 
                    color:rgb(29, 5, 5);
                }

.container2{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
            align-content: center;

           }
            .navegacion{
                background-color:#ececec;
                grid-column: 2/6;
                height: 70px;
                text-align:center;
                margin: 10px 10px 0px 0px;
                display: grid;
                grid-template-rows: 1fr 1fr;
                grid-template-columns: 1fr 1fr 1fr;
                padding-bottom: 10px;
            }
            .navegacion a{
                
                color:#000000;
                font-size:26px;
                text-transform: uppercase;
                padding: 0 10px;
                letter-spacing: 2px;
            }
            .botones{
               grid-row: 1/2;
               grid-column: 2/3;
               justify-content: center;
               align-items: center;
               letter-spacing: 15px;
               font-size: 30px;            
               
            }
            .boton-inicio{
               grid-row: 2/3;
               grid-column: 2/3;
            
                
                border-radius:20px ;
                background-color: black;
            }
            .boton-inicio a{
                color: white;
                
            }
.footer{
            background-color:rgb(255, 255, 255);
            margin: 10px;
             padding: 10px;
        }
        .pie{
            background-color:rgb(3, 3, 3);
            border-radius: 100px;
            width: 30%;
            height:30px;
            margin: auto;
            text-align: center;
            align-content: center;
            
        }
        .pie a{
            color: #FFF;
            font-size: 16px;
            text-transform:uppercase;
            padding: 0 10px;
            
            letter-spacing: 2px;
        }



.texto1 a{
    font-size:20px;
    color: black;
    text-decoration: underline;
    padding: 10px;

}
.texto2 a{
    font-size:20px;
    color: black;
    text-decoration: underline;
    padding: 10px;
}
.texto2 p{
    padding:10px;

}
.texto1 p{
    padding:10px;

}

@media all and (max-width: 1200px){
      .header{
        height: 200px;
        
    }
    .off{
        display:none;
    }
.section{
    background-color: yellow;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr  ;
}
    .bloque1{
        grid-row:1/2 ;
    }
    .bloque2{
        grid-row:2/3 ;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        place-items: center;
        margin-top: 0px;
    }
            .texto1{
                grid-row:1/2;
                grid-column:1/2 ;
                padding-left: 25%;
                padding-right: 25%;
            }
            .invierno{
                grid-row:2/3;
                grid-column:1/2 ;
                padding-left: 25%;
                padding-right: 25%;
            }
            .texto2{
                grid-row:3/4;
                grid-column:1/2 ;
                padding-left: 25%;
                padding-right: 25%; 
            }
            .verano{
                grid-row:4/5;
                grid-column:1/2 ;
                padding-left: 25%;
                padding-right: 25%;
            }
    .navegacion{
        height: 100px;
    
        
    }
    .boton-inicio{
               
                padding-left: 20px;
                padding-right: 20px;
            } 
            .pie{
                height: 50px;
                padding: 10px;
            }
}